

a {
  cursor: pointer;
  transition: 0.5s;
  font-family: Century gothic;
  padding: 8px;
  text-decoration: none;
  color: hsl(37deg 68% 66% / 89%);
  font-size: 25px;
}
a:hover {
  background-color: rgb(175, 152, 121);
  color: beige;
}

body {
   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(pexels-pixabay-259165.jpg);
  background-size: cover;
}
.navbar {
  text-align: left;
  margin-left: 130px;
  margin-top: 84px;
  margin-bottom: 42px;
  padding-right: 75px;
}
.logo img{
  
  width: 100px;
  height: auto;
  position: absolute;
  top: 70px;
}




